beautifulsoup4==4.6.3
blinker==1.4
certifi==2018.10.15
chardet==3.0.4
Click==7.0
decorator==4.3.0
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
psycopg2==2.7.5
requests==2.20.0
six==1.11.0
SQLAlchemy==1.2.13
SQLAlchemy-Searchable==1.0.3
SQLAlchemy-Utils==0.33.8
Unidecode==1.0.23
urllib3==1.24.1
validators==0.12.6
Werkzeug==0.14.1
