body {
    background-color: #fcfcfc;
    color: #595959;
    font-family: 'Open Sans', sans-serif;
}

h4 { 
    font-size: 1.25em; 
}

p { 
    font-size:13px; 
}

li { 
    font-size: 13px 
}

.main-container{
    margin-top: 50px
}

footer{
    padding:40px;
    text-align: center;
    background-color: #f4f4f4;
}

.yoga-footer-link{
    color:#575757;
}

.yoga-footer-link:hover{
    color:#676767;
}

.nav-item{
    font-size:16px;
}

.yoga-nav-home{    
    padding-top:20px;
    transition:100ms ease;
    background: transparent;

}

.yoga-nav-home.scrolled{
    border-bottom:#E4E4E4 solid 1px;
    background-color:#fcfcfc;
}

.btn-outline-yoga{
    color: #595959;
    background-color: #fff;
    background-image: none;
    border-color: #595959;
    padding:10px 30px;
}

.btn-outline-yoga:hover{
    color:#676767;
}

.btn-info-yoga{
    color: #595959;
    background-color: #fff;
    border-color: #d3d3d3;
    font-size: 14px;
    margin: 2px;
}

.btn-info-yoga:hover{
    background-color: #E4E4E4
}

.btn-info-yoga.yoga-yellow{
    background-color: #E5B500;
    border-color: #E5B500;
    color: #fff;
}

.yoga-btn-primary{
    padding:10px 30px;
    background-color: #E5B500;
    border-color: #E5B500;
    color: #fff;
}

.yoga-btn-primary:hover{
    background-color: #eac332;
    border-color: #eac332;
}

.yoga-btn-secondary{
    padding:10px 30px;
    background-color: #538278;
    border-color: #538278;
    color: #fff;
}

.yoga-btn-secondary:hover{
    background-color: #68a396;
    border-color: #68a396;
}

.btn-player{
    color: #002F46;
    background:transparent;
}

.btn-player:hover{
    color:#32586a;
}