/* Overall Styling Across Website */
body {
    background-color: #fcfcfc;
    color: #595959;
    font-family: 'Open Sans', sans-serif;
}

h4 { 
    font-size: 1.25em; 
}

h3 { 
    font-size: 1.5rem; 
}
p { 
    font-size:13px; 
}

li { 
    font-size: 13px 
}

.main-container{
    margin-top: 100px
}

footer{
    padding:40px;
    text-align: center;
    background-color: #f4f4f4;
}

.yoga-footer-link{
    color:#575757;
}

.yoga-footer-link:hover{
    color:#676767;
}

.nav-item{
    font-size:16px;
}

.yoga-nav-home{    
    padding-top:20px;
    transition:100ms ease;
    background: transparent;

}

.yoga-nav-home.scrolled{
    border-bottom:#E4E4E4 solid 1px;
    background-color:#fcfcfc;
}

/* Search Page Styles */
.search-pose-thumbnail{
    border: #d3d3d3 solid 1px;
    border-radius: 5px;
    height: 170px;
    text-align: center;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px 0px;
    padding-bottom:10px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
}

.thumbnail-text{
    margin-top: 5px;
    margin-bottom:10px;
}

a.yoga-link{
    color: #0093AB;
}

a.yoga-link:hover{
    color: #002F46;
    text-decoration: none;
}

a.yoga-link-alt{
    color: #575757;
}

a.yoga-link-alt:hover{
    color: #002F46;
    text-decoration: none;
}

.search-form{
    padding-top:4px;
    padding-right: 10px;
}

.search-label{
    margin-left:5px;
    /*float:left;*/
}

.search-checkbox{
    float:left;
    margin-top: 3px;
    margin-right: 3px;
}

#category-dropdown, #difficulty-dropdown{
    cursor: pointer;
}

/* Saved Workout Styles */
.workout-info{
    font-size:14px;
    font-weight:600;
}

.workout-desc{
    font-style: italic;
}

.saved-workout-card{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px 0px;
    padding: 20px;
    border: #E4E4E4 solid 1px;
    border-radius: 5px;
    width: 60%;
}

@media (max-width: 768px){
        .saved-workout-card{ width:100%; }
    }

/* Button Styling */
.btn-outline-yoga{
    color: #595959;
    background-color: #fff;
    background-image: none;
    border-color: #595959;
    padding:10px 30px;
}

.btn-outline-yoga:hover{
    color:#676767;
}

.btn-info-yoga{
    color: #595959;
    background-color: #fff;
    border-color: #d3d3d3;
    font-size: 14px;
    margin: 2px;
}

.btn-info-yoga:hover{
    background-color: #E4E4E4
}

.btn-info-yoga.yoga-yellow{
    background-color: #E5B500;
    border-color: #E5B500;
    color: #fff;
}

.yoga-btn-primary{
    padding:10px 30px;
    background-color: #E5B500;
    border-color: #E5B500;
    color: #fff;
}

.yoga-btn-primary:hover{
    background-color: #eac332;
    border-color: #eac332;
}

.yoga-btn-secondary{
    padding:10px 30px;
    background-color: #0093AB;
    border-color: #0093AB;
    color: #fff;
}

.yoga-btn-secondary:hover{
    background-color: #68a396;
    border-color: #68a396;
}

.btn-player{
    color: #002F46;
    background:transparent;
}

.btn-player:hover{
    color:#32586a;
}