{% extends 'base.html' %}

{% block title %} {{ pose.name }}{% endblock %}

{% block content %}

<h1 data-poseid = "{{ pose.pose_id }}" id="pose-title">{{ pose.name }}</h1>

{% if pose.sanskrit %}
    <p>Sanskrit Name: {{ pose.sanskrit }}</p>
{% endif %}

{% if pose.altNames %}
    <p>AKA: {{ pose.altNames }}</p>
{% endif %}

<h3>Difficulty: {{ pose.difficulty }}</h3>

<h3>Categories:</h3>
<ul>
    {% if pose.pose_categories %}
        {% for posecat in pose.pose_categories %}
            <li>{{ posecat.category.name }}</li>
        {% endfor%}
    {% endif %}    
</ul>

<div>
    <img src="/{{ pose.img_url }}">
</div>
<h3>Description: </h3>
<p>{{ pose.description }}</p>

{% if pose.benefit %}
    <h3>Benefits: </h3>
    <p>{{ pose.benefit }}</p>
{% endif %}

{% if prev_poses %}
    <h3>Previous Poses: </h3>
    <ul>
    {% for prev in prev_poses %}
        <li>{{ prev }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if next_poses %}
    <h3>Next Poses: </h3>
    <ul>
    {% for id, pose in next_poses.items() %}
        <li class= "next-poses" data-poseid="{{ id }}">
            <a href="/pose/{{ id }}">{{ pose['name'] }}:</a> 
            <span class="editable-field">{{ pose['weight'] }}</span>
        </li>
    {% endfor %}
    </ul>
    <button id="edit-weight-btn">Edit Weights</button>
    <button id="save-weight-btn" style="display:none">Save</button>
    <p id="error-message" style="color:red"></p>
{% endif %}

<h3>Add another Next Pose</h3>
<form action="/addnextpose" method="POST" id="add-nextpose-form">
    <input type="hidden" name="poseid" value="{{ pose.pose_id }}">
    <label>Pose Id: </label><input type="number" name="nextposeid" id="nextposeid"></input> <br>
    <label>Weight:</label><input type="number" name="weight" id="weight"></input><br>
    <input id="add-nextpose-btn" type="submit" value="Add Next Pose">
    <button id="remove-nextpose-btn">Remove Next Pose</button>
</form>


<script src="../static/js/editData.js"></script>
{% endblock %}