{% extends 'base.html' %}

{% block title %}Yoga App - Search {% endblock %}

{% block content %}
<div class="container main-container" style="margin-top: 100px">
    
<div class="row" style="margin-bottom: 50px">
    <div class="col-md-3">
        <form action="/search" method="GET" class="search-form">
            <h4 class="search-header" style="margin-bottom:20px">Search:</h4>
            <div>
                <!-- <label for="keyword">Keyword: </label> -->
                <input type="text" name="keyword" id="keyword" class="form-control" placeholder="Keyword">
            </div>
            <div style="margin-top: 20px">
                <h4>Difficulty:
                    <span id="difficulty-dropdown"><i class="fas fa-caret-down"></i></span>
                </h4>
                <div id="difficulty-group">
                    <input type="checkbox" id="beginner" name="difficulty" value="Beginner">
                    <label for="beginner">Beginner ({{ difficulty_counts.get('Beginner',0) }})</label><br>
                    <input type="checkbox" id="intermediate" name="difficulty" value="Intermediate">
                    <label for="intermediate">Intermediate ({{ difficulty_counts.get('Intermediate',0) }})</label><br>
                    <input type="checkbox" id="expert" name="difficulty" value="Expert">
                    <label for="expert">Expert ({{ difficulty_counts.get('Expert',0) }})</label>
                </div>
            </div>
            <div style="margin-top:20px"> 
                <h4>Category
                    <span id="category-dropdown"><i class="fas fa-caret-down"></i></span>
                </h4>
                
                <div id="categories-group">
                    {% for category in categories %}
                    <div>
                    <input class="search-checkbox" type="checkbox" id="{{ category.name }}" name="categories" value="{{ category.cat_id }}">
                    <label for="{{ category.name }}" class="search-label">
                        {{ category.name }} ({{ category_counts.get(category.cat_id,0) }})
                    </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div style="padding-top: 10px"><input type="submit" value="Search" class="btn yoga-btn-primary"></div>
        </form>
    </div>
    <div class="col-md-9">
        <div style="margin-bottom:20px">
        <h2>Results ({{ all_poses|length }})</h2>
        </div>

        <div class="row">   
            {% for pose in all_poses %}
                <div class="col-md-3 col-sm-6" style="padding-bottom: 20px">
                    <div style="" class="search-pose-thumbnail">
                    <a href="pose/{{ pose.pose_id }}" class="yoga-link">
                        <img src="/{{ pose.img_url }}" style="height:120px;">
                        <p class="thumbnail-text">{{ pose.name }}</p>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>


<!-- <div class="row">
    <div class="col-md-12">
        <h1>All Categories</h1>
        <ul>
            {% for category in categories %}
            <li>
                <a href="category/{{ category.cat_id }}"> {{ category.name }} ( {{ category.cat_id }} )</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div> -->

</div>
<script src="../static/js/searchPage.js"></script>
{% endblock %}