{% extends 'base.html' %}

{% block title %}Yoga App - Your Workout{% endblock %}

{% block content %}
<style>
    #slides .slide{
        display: none;
    }

    .slider{
        cursor: pointer;
    }

    .slider-arrow{
        cursor: pointer;
        margin:20px;
    }
    .slider-img.active{
        border:red solid 1px;
    }

    .slider-img.displayed{
        display:inline;
    }

    .slider-img{
        height:80px;
        display: none;
    }

    .slider-img:hover{
        border:black solid 1px;
    }

    #countdown {
      position: relative;
      margin: auto;
      margin-bottom:10px;
/*      height: 40px;
      width: 40px;*/
      text-align: center;
    }

    #countdown-number {
      color: black;
      display: inline-block;
      line-height: 40px;
    }

    svg {
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
    }

    svg circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: black;
      fill: none;
    }

</style>

<div class="container main-container" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-12">
            <h2>Your Workout</h2>
        </div>
    </div>

    <!-- Display Workout Settings -->
    <div class="row" style="text-align: center">        
        <div class="col-md-3" id="duration">Duration: {{ session.get('num_poses') }} Poses</div>
        <div class="col-md-3" id="difficulty">Difficulty: {% if session['difficulty'] %} 
                            {{ session['difficulty'] }}
                        {% else %}
                            None
                        {% endif %}
        </div>
        <div class="col-md-3" id="emphasis">Emphasis: {% if session['emphasis'] %} 
                            {{ session['emphasis'] }}
                        {% else %}
                            None
                        {% endif %}
        </div>
        <div class="col-md-3" id="timingOption" data-info="{{ session['timingOption']}}">
            {{ session['timingOption'] }}
        </div>
    </div>

    <!-- Save and Exit -->
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12" style="text-align: center">
            <button id="exit-workout-btn" class="btn btn-light" style="margin-right: 15px">
                <i class="far fa-times-circle fa-lg" style="margin-right: 5px"></i>
                Exit Workout
            </button>
            <button id="open-save-modal" class="btn btn-primary" data-toggle="modal" data-target="#saveWorkoutModal">
                <i class="far fa-heart fa-lg" style="margin-right: 5px"></i>
                Save Workout
            </button>
            <div id="errorMessage" style="padding-top: 5px">
                {% if session['error'] %}
                {{ session['error'] }}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Play Controls -->
    <div class="row" style="margin-top: 20px ">
        <div class="col-md-12" style="text-align: center">
            <button id="previous" class="btn"><i class="fas fa-step-backward fa-2x"></i></button>
            <button id="play-pause" class="btn" style="">
                <i class="fas fa-play-circle fa-2x"></i>
            </button>
            <button id='next' class="btn"><i class="fas fa-step-forward fa-2x"></i></button>
            <!-- <button id="repeat" class="btn"><i class="fas fa-redo-alt fa-2x"></i></button> -->
        </div>
    </div>

    <!-- Display Poses in the Workout-->
    <div class="row" style="margin-top: 30px">
        <div class="col-md-12" id="slides" style="text-align: center">
            {% if session['workout'] %}
                <!-- Pose Slides -->
                {% for pose in session['workout'] %}
                <div style="margin-bottom: 10px" class="slide">
                    <h4>{{ pose['name'] }}</h4>
                    <a href="/pose/{{ pose['pose_id'] }}">
                        <img src="{{ pose['imgurl'] }}" style="height:300px; border: #d3d3d3 solid 2px; border-radius: 8px;margin-bottom: 10px">
                    <a> 
                </div>
                {% endfor %}
                
                <!-- Countdown Timer -->
                <div id="countdown">
                    <!-- <div id="countdown-number"></div> -->
                    <svg>
                        <g>
                            <g transform="translate(40, 0) scale(-1, 1)">
                            <circle r="18" cx="20" cy="20" transform="rotate(-90 20 20)"></circle>
                            </g>
                            <text id="countdown-number" x="10" y="25" fill="black">20</text>
                        </g>
                    </svg>
                </div>

                <!-- Slider Thumbnails -->
                <span class="slider-arrow"><i class="fas fa-chevron-left fa-2x slider-icon" id="slider-prev"></i></span>
                {% for pose in session['workout'] %}
                <span class="slider"><img src="{{ pose['imgurl'] }}" class="slider-img" data-slideindex = "{{ loop.index-1 }}"></span>
                {% endfor %}
                <span class="slider-arrow"><i class="fas fa-chevron-right fa-2x slider-icon" id="slider-next"></i></span>
            {% endif %}

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="saveWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="saveWorkoutLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveWorkoutTitle">Save Your Workout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="workoutName">Workout Name</label>
                <input type="text" name="workoutName" id="workoutName" class="form-control">
            </div>
            <div class="form-group">
                <label for="userName">Your Name</label>
                <input type="text" name="userName" id="userName" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save-workout-btn">Save Workout</button>
            <div id="errorMessageModal"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="static/js/yogaWorkout.js"></script>
<script src="static/js/yogaSlideshow.js"></script>
{% endblock %}